@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.body{
    font-family: "Lato", serif;
}

*{
    padding: 0;
    margin: 0;
}
/* shared related style */

section{
    margin-top: 80px;
}

.common-button{
    border-radius: 8px;
    background: rgb(229, 84, 115);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    padding: 8px 10px;
}

.common-subtitle{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 33px;
font-weight: 600;
text-align: center;
}
.common-paragraph{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 14px;
font-weight: 300;
text-align: left;
}
.header{
    background: rgba(229, 84, 115, 0.1);
}
/* header related style */

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 160px 0;
}

.header-container > h1 {
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 53px;
font-weight: 600;
text-align: left;
}

.header-content{
    width: 480px;
}
.header-content > p {
    margin-top: 27px;
    margin-bottom: 27px;
}
.header-img img {
    width: 330px;
}


/* featured section related style */
.featured{
    padding: 20px 150px;
}
.featured >p{
      text-align: center;
      width: 390px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 25px;
}
.flower-img img{
    width: 300px;
}
.flower-container{
    display: flex;
    gap: 22px;
    align-items:flex-end;
}

.first{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 20px;
}
.second{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 20px;
    padding-top: 130px;
}
.third{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}



@media screen and (max-width:576px) {
    .header-container, .flower-container{
        flex-direction: column;
        padding: 12px  12px;
    }
    .header-img img {
        width: 230px;
    }
    .header-content{
        width: 380px;
        text-align: center;
        margin-bottom: 15px;
    }
    .featured{
        padding: 0 0;
    }
}